@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    text-align: center;
    padding: 50px;
    
}
input{
    height: 40px;
    width: 300px;
}


#submit{
    height: 30px;
    width: 100px;
    margin-top: 40px;
}
#restart{
    height: 30px;
    width: 100px;
}